@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  @apply text-4xl font-black;
}

.h2 {
  @apply text-3xl font-bold;
}

.h3 {
  @apply text-2xl font-semibold;
}
